h1 {
  color: black;
  text-align: center;
}

.deleteButton {
  background-color: #ff7f50;
  border: #ff7f50;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonTeacher {
  background-color: #ff7f50;
  border: 2px solid #ff7f50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  min-width: 250px;
  max-inline-size: 250px;
}

.buttonCourse {
  background-color: cornflowerblue;
  border: 2px solid cornflowerblue;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  min-width: 200px;
}

.deleteButton:hover{
  background-color: darkblue;
  color: #ff7f50;
}

.buttonTeacher:hover {
  background-color: #ffe5b4;
  color: #ff7f50;
}

.buttonCourse:hover {
  background-color:lightblue;
  color:darkblue;
}

.buttonRatings:hover {
  background-color:greenyellow;
  color:green;
}

.buttonRatings {
  background-color: green;
  border: 2px solid green;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  min-width: 200px;
}

p {
  font-size: 15px;
  height: 34px;
}

.pTeachers {
  height: 0px;
}

.teacherForm {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 315px;
  padding: 20px;
  width: 320px;

}

.courseForm {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 205px;
  padding: 20px;
  width: 320px;
  margin: -225px 20px 20px 430px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 5px 10px 5px;
  width: 100%;
}

.scoreInput {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 5px 10px 5px;
  width: 100%;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-align: center;
  width: 100%;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-left {
  width: 50%;
  float: left;
  display: inline-flex;
  margin: 56px 0px 0px 35px;
}

.float-right {
  width: 50%;
  float: right;
  display: inline-flex;
  margin: 56px 0px 0px 35px;
}

.teachers {

  margin: 20px;

}
.course {
  display: list-item;
  margin-left: 199px;
}

.courses {
  margin: -222px 20px 20px 480px;
}

.courseErrorMessage {
  color: black;
  margin-top: 1px;
}