h1 {
  color: orange;
  text-align: center;
}

h2 {
  color: orange;
  text-align: center;
  margin-left: 1004px;
  margin-top: -192px;
}

h3 {
  color: orange;
  width: 200px;
}

h5 {
  font-size: 12px;
}

.deleteButton {
  background-color: #ff7f50;
  border: #ff7f50;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: darkblue;
  color: white;
}

.buttonTeacher {
  background-color: #ff7f50;
  border: 2px solid #ff7f50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  min-width: 250px;
  max-inline-size: 250px;
}

.buttonTeacherResponsive {
  background-color: #ff7f50;
  border: 2px solid #ff7f50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  min-width: 120px;
  max-inline-size: 120px;
}

.buttonTeacher:hover {
  background-color: #ffe5b4;
  color: #f54c0f;
}

.buttonCourse {
  background-color: cornflowerblue;
  border: 2px solid cornflowerblue;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  min-width: 200px;
}

.buttonCourseResponsive {
  background-color: cornflowerblue;
  border: 2px solid cornflowerblue;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  min-width: 100px;
}

.buttonCourse:hover {
  background-color: lightblue;
  color: darkblue;
}

.submitScoreButton {
  background-color: #fac847;
  border: 2px solid #fac847;
  color: white;
  padding: 16px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  min-width: 200px;
}

.submitScoreButton:hover {
  background-color: #ffe878;
  border: 2px solid #fac847;
  color: #e67e00;
  padding: 16px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  min-width: 200px;
}

p {
  font-size: 15px;
  height: 34px;
}

.teacherForm {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 315px;
  padding: 20px;
  width: 320px;
  margin-right: 47px;
  margin-top: 60px;
  margin-left: -70px;
}

.teacherFormResponsive {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 315px;
  padding: 20px;
  width: 250px;
  margin-left: -180px;
}

.courseForm {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 205px;
  padding: 20px;
  width: 320px;
  margin: -70px 20px 20px 430px;
}

.courseFormResponsive {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 205px;
  padding: 20px;
  width: 180px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 5px 10px 5px;
  width: 100%;
}

.scoreInput {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 5px 10px 5px;
  width: 100px;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-align: center;
  width: 100%;
}

.submit:hover {
  background-color: #b1d4e0;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: darkblue;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-align: center;
  width: 100%;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-left {
  width: 50%;
  float: left;
  display: inline-flex;
  margin: 56px 0px 0px 196px;
}

.float-right {
  margin-left: 1120px;
  margin-top: -245px;
}

.teachers {
  margin: -306px 20px 20px 290px;
}

.course {
  display: list-item;
  margin-left: 199px;
}

.courses {
  margin: -146px 0px 0px -122px;
}

.scoreErrorMessage {
  color: black;
  width: 218px;
}

.chart-container {
  display: flex;
  width: 915px;
  margin: 23px;
  padding-top: 300px;
}

.chart-containerResponsivePhone {
  display: flex;
  width: 315px;
  margin: 23px;
  padding-top: 49px;
}
